* {
  margin:0;
  padding: 0;
}

section {

}

#RecordBtn {
  width:10vw;
  border-radius: 10em;
  border-style: none;
  outline: none;
  background-color: red;
  color: white;
  height: 10vw;
  margin-left: auto;
  margin-right: auto;
}
